
<link rel="stylesheet" href="public/css/navbar.css">
 <ul>
  <li><a href="/">Home</a></li>
  <li><a href="/register">Register</a></li>
  <li><a href="/post_image">Post Image</a></li>
  <li><a href="/logout">Logout</a></li>
</ul>