<nav class="navbar navbar-expand-lg navbar-dark bg-dark primary-color">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-content">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" id="index-nav" aria-current="page" href="/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" id="login-nav" aria-current="page" href="/login">Login</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" id="register-nav" aria-current="page" href="/register">Register</a>
        </li>
      </ul>
      <form class="d-flex" action="/search" method="post">
        <input name="search_term" class="form-control me-2" type="search" placeholder="Search..." required>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>