<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="public/css/common.css">
        <script type="text/javascript" src="public/js/home.js"></script>

        <title>Home</title>
    </head>
    <body id="home_page">
      {{> navbar }}
       <input type="button" onclick="get_photos();" value="click for photos" id="photo_button">
       <div id="photo_container">
       </div>
    </body>
</html>