<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/public/css/common.css">
        <title>Image Post</title>
    </head>
    <body id="image_page">
      {{> (which_navbar) }}
        <div class="image_post">
            <h3>{{ post.title }}</h3>
            <h3>{{ post.description }}</h3>
            <h3> {{ post.image }}</h3>
        </div>
    </body>
</html>