<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="/public/css/index.css">
  <script src="/public/js/index.js"></script>
  {{> bootstrap_css }}
  <title>Home</title>
</head>

<body id="home_page">
  {{> (which_navbar) }}
  <div class="container">

    <div class="container">
      <div class="p-2 mb-3 bg-light rounded-3 text-center">
        <h1 class="display-1">Welcome to Not-imgur</h1>
      </div>
    </div>
  </div>
  <div class="row row-cols-4 row-fluid">
    {{#each posts}}
    <div class="col-md-3 col-offset-3">
      <a href="/image_post/{{ this.id }}">
        <div class="card" style="max-width: 16rem;">
          <img class="img-thumbnail"  src="{{ this.image }}" class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title text-white">{{ this.title }}</h5>
          </div>
        </div>
      </a>
    </div>
    {{/each}}
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
    crossorigin="anonymous"></script>
</body>

</html>