<!DOCTYPE html>
<html>
<head>
  <script src="/public/js/login.js"></script>
  <link rel="stylesheet" type="text/css" href="/public/css/common.css">
  {{> bootstrap_css }}
  <title>
    Login Page
  </title>
</head>

<body id="login_page">
  {{> navbar_unauthenticated }}
<div class="card mx-auto w-75">
  <div class="card-body">
    <form name="login_form" method="post" action="/login/submit">
      <h3>Login</h3>
      <label class="form-label">Email</label>
      <input placeholder="Enter Username..." class="form-control" name="email" type="email" required type="text" value=""><br>

      <label class="form-label">Password</label>
      <input placeholder="Enter Password..." class="form-control" name="password" type="password" value=""><br>
      <input type="submit" class="submit" value="submit">
    </form>
    </div>
</div>
</body>

</html>