<!DOCTYPE html>
<html>

<head>
  {{> bootstrap_css }}
  <title>
    Post Image Page
  </title>
</head>

<body id="post_page">
  {{> (which_navbar) }}
  <div class="card mx-auto w-75">
    <div class="card-body">
  <form method="post" enctype="multipart/form-data" action="/post_image/submit">
    <h3>Make a post!</h3>

      <label class="form-label">Please input a title</label>
      <input class="form-control" placeholder="Title..." name="title" class="input_field" required type="text"><br>

      <label class="form-label">Please input a description.</label>
      <input class="form-control" placeholder="Description..." name="description" class="input_field" required type="text"><br>

      <label class="form-label">Please select a file to upload.</label>
      <input class="form-control" type="file" id="imageInput" name="image" required accept="image/*"><br>

      <label for="tos">I agree to the Acceptable Use Policy for media.</label>
      <input type="checkbox" id="tos" name="tos"><br>
    <input type="submit" class="submit" value="submit" required>
  </form></div></div>
</body>

</html>