<!DOCTYPE html>
<html>

<head>
  <script type="text/javascript" src="public/js/registration.js"></script>
  <link rel="stylesheet" type="text/css" href="public/css/common.css">
  <title>
    Registration Page
  </title>
</head>

<body id="reg_page">
  {{> navbar_unauthenticated }}

  <div class="form_box" class="centered_button">
    <form name="registration_form" method="post" action="register/submit" id="registration_form" onsubmit="registration_submit(event)">
      <h3>Registration</h3>
      <div class="form_inputs">
        <label class="input_label">User name</label><br>
        <input class="input_field" name="username" placeholder="Enter Username..." type="text" value="" id="username"><br>

        <label class="input_label">E-mail</label><br>
        <input class="input_field" name="email" placeholder="Enter email..." type="email" value="" id="email"><br>

        <label class="input_label">Password</label><br>
        <input class="input_field" name="password" placeholder="Enter Password..." type="password" id="password"
          onkeyup="validate_credentials();"><br>

        <label class="input_label">Confirm Password</label><br>
        <input class="input_field" placeholder="Confirm Passowrd..." type="password" id="confirm_password"
          onkeyup="validate_credentials();"><br>
        <span id="valid_password_message">
        </span>
        {{!-- <br>
        <span>valid</span> --}}

        <br>
        <label class="input_label" for="ageReq">I confirm I am 13 years or older.</label>
        <input type="checkbox" id="ageReq" name="ageReq" required><br>

        <label class="input_label" for="tos">I agree to the Terms of Service and Privacy Policy.</label>
        <input type="checkbox" id="tos" name="tos" required><br>
      </div>

      <div class="centered_button">
        <input type="submit" class="submit" value="submit">
      </div>
    </form>

  </div>
</body>

</html>