<!DOCTYPE html>
<html>

<head>
  {{> bootstrap_css }}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="/public/js/registration.js"></script>
  <link rel="stylesheet" type="text/css" href="/public/css/register.css">
  <title>
    Registration Page
  </title>
</head>

<body id="reg_page">
  {{> navbar_unauthenticated }}
  <div class="card mx-auto w-50">
    <div class="card-body">
    <form name="registration_form" method="post" action="register/submit" id="registration-form" onsubmit="registration_submit(event)">
      <h3>Registration</h3>
      <div class="form_inputs">
        <label class="form-label">User name</label><br>
        <input class="form-control" name="username" placeholder="Enter Username..." type="text" value="" id="username"><br>

        <label class="form-label">E-mail</label><br>
        <input class="form-control" name="email" placeholder="Enter email..." type="email" value="" id="email"><br>

        <label class="form-label">Password</label><br>
        <input class="form-control" name="password" placeholder="Enter Password..." type="password" id="password" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="Right side!"
          onkeyup="validate_credentials();"><br>

        <label class="form-label">Confirm Password</label><br>
        <input class="form-control" placeholder="Confirm Passowrd..." name="confirm_password" type="password" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="Right side!" id="confirm-password"
         onkeyup="validate_credentials();">
        <span id="valid_password_message">
        </span>
        {{!-- <br>
        <span>valid</span> --}}

        <br>
        <label class="input_label" for="ageReq">I confirm I am 13 years or older.</label>
        <input type="checkbox" id="ageReq" name="ageReq" required><br>

        <label class="input_label" for="tos">I agree to the Terms of Service and Privacy Policy.</label>
        <input type="checkbox" id="tos" name="tos" required><br>
      </div>

      <button type="submit" id="comment-submit" class="btn btn-primary" >Submit</button>
    </form>
    </div>
  </div>

  <div id="password-reqs" style="display: none">
    <ul class="list-group custom-popover">
      <li class="list-group-item">
        Must start with an alphabetical character
      </li>
      <li class="list-group-item">
        Must contain an uppercase character
      </li>
      <li class="list-group-item">
        Must contain a special character
      </li>
      <li class="list-group-item">
        Must contain a number
      </li>
    </ul>
  </div>

  <div id="password-matches" style="display: none">
    <p id="password-matches-field" class="custom-popover">Hello</p>
  </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
    crossorigin="anonymous"></script>
</body>

</html>